.calc {
    width: 50vh;
    min-height: 70vh;
}

.result {
    padding: 16px;
    background-color: rgb(41, 38, 38);
    text-align: right;
    color: white;
    font-size: 24px;
    border-radius: 10px 10px 0px 0px;
}

.result span {
    font-size: 14px;
    padding: 3px;
    color: #888;
}

button {
    color: whitesmoke;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 16px;
}

button:hover {
    opacity: 0.9;
}

.operators {
    display: flex;
}

.operators button {
    flex: 1 1;
    background-color: orange;
}

.digits {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}

.digits button {
    background-color: rgb(41, 38, 38);
    flex: 1 1 33.333%;
    max-width: 33.333%;
}