.App {
  width: 100vw;
  height: 100vh;
}

.SideBar{
  width: 200px;
  height: 100vh;
  background-color: rgb(174, 11, 239);
}

.SideBarContainer{
  height: auto;
  padding: 0;
  width: 100%;
}

.SideBarList{
  width: 100%;
  height: 60px;
  list-style-type: none;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
}

.SideBarList #active {
  background-color: rgb(88, 3, 122);
}
.SideBarList:hover{
  background-color: rgb(88, 3, 122);
  cursor: pointer;
}